@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --sb-thumb: rgba(0, 0, 0, 0.486);
}

/* Dark automático */

@media (prefers-color-scheme: dark) {
    :root {
        --sb-thumb: rgba(255, 255, 255, 0.548);
    }
}

@font-face {
    font-family: 'Font';
    src: url('/static/FinlandicaText-VariableFont_wght.ttf');
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: 'Font', sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--sb-thumb) transparent;
}

.dot-grid { 
    background-image: radial-gradient(#00000025 1px, transparent 0);
    background-size: 20px 20px; /* Adjust spacing between dots */
}

.dark .dot-grid { 
    background-image: radial-gradient(#ffffff25 1px, transparent 0);
    background-size: 20px 20px; /* Adjust spacing between dots */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 4px auto;
  position: relative;
  color: rgba(255, 255, 255, 0.788);
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

.dark .loader{
    color: #03030391;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}