@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --sb-thumb: rgba(0, 0, 0, 0.486);
}

/* Dark automático */

@media (prefers-color-scheme: dark) {
    :root {
        --sb-thumb: rgba(255, 255, 255, 0.548);
    }
}

@font-face {
    font-family: 'Font';
    src: url('/static/FinlandicaText-VariableFont_wght.ttf');
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: 'Font', sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--sb-thumb) transparent;
}

.dot-grid { 
    background-image: radial-gradient(#00000025 1px, transparent 0);
    background-size: 20px 20px; /* Adjust spacing between dots */
}

.dark .dot-grid { 
    background-image: radial-gradient(#ffffff25 1px, transparent 0);
    background-size: 20px 20px; /* Adjust spacing between dots */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}